<component name="ArtifactManager">
  <artifact type="war" name="spring-rest-angular:war">
    <output-path>D:/baeldung/git/tutorials/spring-request-methods/target</output-path>
    <root id="archive" name="angular-spring-rest-sample.war">
      <element id="artifact" artifact-name="spring-rest-angular:war exploded" />
    </root>
  </artifact>
</component>